/*!
 * @author haw
 */

@import '../util/variables';

$badge-height: .9rem;

.#{$namespace}badge {
  display: inline-block;
  height: $badge-height;
  padding: 0 .3rem;
  font-size: .65rem;
  line-height: 1.6;
  color: #fff;
  text-align: center;
  background-color: $primary-color;
  border-radius: $badge-height;
}
