/**
 * @author haw
 */

@import "../util/variables";

$badge-height: .9rem;

.#{$namespace}badge {
  display: inline-block;
  height: $badge-height;
  line-height: 1.6;
  padding: 0 .3rem;
  color: #fff;
  font-size: .65rem;
  text-align: center;
  background-color: $primaryColor;
  border-radius: $badge-height;
}