/*!
 * @author haw
 */

@import '../util/variables';

$checkbox: '.#{$namespace}checkbox';
$radio: '.#{$namespace}radio';
$input: '.#{$namespace}input';
$switch: '.#{$namespace}switch';
$textarea: '.#{$namespace}textarea';
$stepper: '.#{$namespace}stepper';
$slider: '.#{$namespace}slider';

// checkbox and radio style
#{$checkbox},
#{$radio} {
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  background: transparent;
  appearance: none;

  &:after {
    position: absolute;
    top: 45%;
    left: 50%;
    display: none;
    width: .55rem;
    height: .25rem;
    border-bottom: .1rem solid $white;
    border-left: .1rem solid $white;
    content: ' ';
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  }
}

#{$checkbox} {
  border: .05rem solid #c7c7cd;
  border-radius: 50%;

  &:checked {
    background-color: $primary-color;
    border-color: $primary-color;

    &:after {
      display: inline-block;
    }
  }
}

#{$radio} {
  border: 0;

  &:checked {
    &:after {
      display: inline-block;
      width: .65rem;
      height: .25rem;
      border-color: $primary-color;
    }
  }
}


// input style
#{$input} {
  width: 100%;
  padding-left: .25rem;
  // line-height: 1.41176471;
  font-size: .85rem;
  line-height: 1.17647059;
  background: none;
  border: 0;
  appearance: none;
}


// switch style
#{$switch} {
  position: relative;
  display: inline-block;
  width: 2.6rem;
  height: 1.6rem;
  vertical-align: middle;
  // background-color: $white;
  background-color: #fdfdfd;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: .8rem;
  appearance: none;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    content: ' ';
    // box-shadow: 0px 3px 1px 0px rgba(0,0,0,0.05), 0px 2px 2px 0px rgba(0,0,0,0.10), 0px 3px 3px 0px rgba(0,0,0,0.05);
    transition: transform .3s;
  }

  &:before {
    width: 2.5rem;
    background-color: #fdfdfd;
    border-radius: .75rem;
  }

  &:after {
    width: 1.5rem;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  }

  &:checked {
    background-color: $green;
    border-color: $green;

    &:before {
      transform: scale(0);
    }

    &:after {
      transform: translate3d(1rem, 0, 0);
    }
  }
}


// textarea style
#{$textarea} {
  width: 100%;
  // line-height: 1.17647059;
  font-size: .75rem;
  line-height: 1.41176471;
  background: none;
  border: 0;
  resize: none;
  appearance: none;
}


// stepper style
#{$stepper} {
  display: flex;
  border: .05rem solid $primary-color;
  border-radius: .2rem;

  & > a {
    position: relative;
    width: 2.25rem;
    height: 1.4rem;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: .8rem;
      height: .1rem;
      margin-top: -.05rem;
      margin-left: -.4rem;
      background-color: $primary-color;
      content: ' ';
    }

    &.disabled {
      &:before {
        background-color: $gray;
      }
    }
  }

  &-cut {
    border-right: .05rem solid $primary-color;
  }

  &-add {
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: .1rem;
      height: .8rem;
      margin-top: -.4rem;
      margin-left: -.05rem;
      background-color: $primary-color;
      content: ' ';
    }

    &.disabled {
      &:after {
        background-color: $gray;
      }
    }
  }
}

// slider style
#{$slider} {
  display: flex;
  align-items: center;

  &.disabled {
    opacity: .5;
  }

  &-left {
    margin-right: .5rem;
  }

  &-right {
    margin-left: .5rem;
  }

  & > span {
    width: 1.5rem;
    height: .1rem;
    background-color: $gray;
    border-radius: 0 .2rem .2rem 0;
  }

  &-bar {
    position: relative;
    flex: 1;
    height: .1rem;
    background-color: $gray;
    border-radius: .2rem 0 0 .2rem;

    & > a {
      position: absolute;
      top: -.7rem;
      left: 0;
      z-index: 1;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $white;
      border: 0 solid rgba(0, 0, 0, .15);
      border-radius: 50%;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
    }

    & > span {
      position: absolute;
      top: 0;
      left: 0;
      height: .1rem;
      background-color: $primary-color;
      border-radius: 4px 0 0 4px;
    }
  }
}
