/**
 * @author haw
 */

@import "../util/variables";
@import "../util/mixin";

$selector: ".#{$namespace}actionsheet";

#{$selector} {
	width: 100%;
	padding: 0 .5rem;

	&-buttons {
		margin-bottom: .5rem;
		background-color: $white;
		border-radius: .5rem;
	}

	&-desc,
	&-button {
		position: relative;
		display: block;
		color: $gray;
		line-height: 2.65rem;
		font-size: .65rem;
		text-align: center;
	}

	&-desc,
	&-button:not(:last-child) {
		@include hairline-bottom();
	}

	&-button {
		color: $primaryColor;
		font-size: 1rem;

		&:active {
			background-color: rgb(0, 0, 0);
			background-color: rgba(0, 0, 0, .1);
		}
	}
}