/*!
 * @author haw
 */

@import '../util/variables';
@import '../util/mixin';

$selector: '.#{$namespace}actionsheet';

#{$selector} {
  width: 100%;
  padding: 0 .5rem;

  &-buttons {
    margin-bottom: .5rem;
    background-color: $white;
    border-radius: .5rem;
  }

  &-desc,
  &-button {
    position: relative;
    display: block;
    font-size: .65rem;
    line-height: 2.65rem;
    color: $gray;
    text-align: center;
  }

  &-desc {
    @include hairline-bottom;
  }

  &-button {
    font-size: 1rem;
    color: $primary-color;

    &:active {
      background-color: rgba(0, 0, 0, .1);
    }

    &:not(:last-child) {
      @include hairline-bottom;
    }
  }
}
