/*!
 * @author haw
 */

@import '../util/variables';

$selector: '.#{$namespace}searchbar';

#{$selector} {
  position: relative;
  display: flex;
  align-items: center;
  padding: .35rem 0 .35rem .4rem;
  overflow: hidden;
  background-color: #c9c9ce;
  box-shadow: inset 0 0 0 0 #b5b5b5;

  &-header {
    padding-right: .5rem;
    font-size: .85rem;
    color: $primary-color;
  }

  &-footer {
    position: absolute;
    top: 50%;
    right: 0;
    width: 2.2rem;
    padding-right: .4rem;
    padding-left: .1rem;
    font-size: .85rem;
    color: $primary-color;
    transform: translate3d(100%, -50%, 0);
    transition: transform .3s;
  }

  &-input {
    position: relative;
    flex-grow: 1;
    margin-right: .4rem;
    background-color: $white;
    border-radius: .2rem;
    transition: margin .3s;

    & > input {
      position: relative;
      z-index: 2;
      width: 100%;
      padding: .2rem 0 .2rem 1.45rem;
      font-size: .7rem;
      line-height: 1.6;
      background: none;
      border: 0;
      appearance: none;
    }

    & > a {
      position: absolute;
      top: .4rem;
      right: .5rem;
      z-index: 3;
      width: .7rem;
      height: .7rem;
      background-color: #8f8e94;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .3s;

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: .4rem;
        height: .1rem;
        background-color: #fff;
        content: ' ';
      }

      &:before {
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }

      &:after {
        transform: translate3d(-50%, -50%, 0) rotate(-45deg);
      }

      &.active {
        opacity: 1;
      }
    }

    &.active {
      &.has-footer {
        margin-right: 2.6rem;
      }

      #{$selector}-placeholder {
        left: 0;
        transform: translate3d(.4rem, -50%, 0);
      }

      & + #{$selector}-footer {
        transform: translate3d(0, -50%, 0);
      }

      // & > a {
      //   opacity: 1;
      // }
    }

  }

  &-placeholder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: left .3s, transform .3s;

    & > i {
      position: relative;
      display: inline-block;
      width: .65rem;
      height: .65rem;
      margin-right: .4rem;
      vertical-align: -.1rem;;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: .3rem;
        height: .3rem;
        border: .1rem solid $gray;
        border-radius: 50%;
        content: ' ';
      }

      &:after {
        position: absolute;
        right: 0;
        bottom: .1rem;
        width: .3rem;
        height: .1rem;
        background-color: $gray;
        content: ' ';
        transform: rotate(45deg);
      }
    }

    & > span {
      color: $gray;
    }
  }

  &.white {
    background: rgba(250, 250, 250, .9);
    box-shadow: 0 0 0 0 #b2b2b2;

    #{$selector}-input {
      background-color: rgba(3, 3, 3, .09);
    }
  }
}



