/*!
 * @author haw
 */

@import '../util/variables';

$navbar-bg: #f9f9f9;
$navbar-height: 2.2rem;

.#{$namespace}navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-index-navbar;
  // display: flex;
  // justify-content: space-between;
  width: 100%;
  height: $navbar-height;
  // padding: 0 8px;
  font-size: .85rem;
  background-color: $navbar-bg;

  .#{$namespace}navbar-item {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: $navbar-height;

    & > :not(:first-child) {
      margin-left: 10px;
    }

    &:first-child {
      justify-content: flex-start;
      float: left;
      margin-left: 8px;
    }

    &:nth-child(2) {
      position: absolute;
      z-index: 1;
      justify-content: center;
      width: 100%;
      text-align: center;
    }

    &:last-child {
      justify-content: flex-end;
      float: right;
      margin-right: 8px;
    }
  }

  // & + .#{$namespace}content {
  //   margin-top: $navbar-height;
  // }
}
