/*!
 * @author haw
 */

@import '../util/variables';

$selector: '.#{$namespace}mask';
$mask-bg: rgba(0, 0, 0, .2);
$mask-bg-transparent: rgba(0, 0, 0, 0);

#{$selector} {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-mask;
  width: 100%;
  height: 100%;
  background-color: $mask-bg;

  &-transparent {
    background-color: $mask-bg-transparent;
  }
}
